body
{
    background-color: hsl(0, 0%, 15%);
}

.to-do-list
{
    font-family: Arial , sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1
{
    font-size: 4rem;
    color: white;
}

button
{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.add-button
{
    background-color: hsl(89, 60%, 33%);
}

.add-button:hover
{
    background-color: hsl(35, 18%, 35%);
}

.delete-button
{
    background-color: hsl(0, 100%, 50%);
}

.delete-button:hover
{
    background-color: hsl(0, 49%, 63%);
}

.edit-button
{
    background-color: hsl(120, 76%, 50%);
}

.edit-button:hover
{
    background-color: hsl(120, 93%, 34%);
}

.move-button
{
    background-color: hsl(268, 100%, 30%);
}

.move-button:hover
{
    background-color: hsl(246, 27%, 49%);
}

input[type="text"]
{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 14%, 64% , 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.5);
}

.Todo
{
    width: 60%;
    margin-top: 15px;
    margin-left: 20%;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 16%, 62%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}


.incompleted
{
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    flex: 1;
}
  
  .completed 
  {
    color: hsl(0, 0%, 0%, 0.5);
    text-decoration: line-through;
    cursor: pointer;
    flex: 1;
  }
  

.delete-button , .move-button,.edit-button
{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}

.EditTaskForm {
    width: 60%;
    margin-top: 15px;
    margin-left: 20%;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsl(0, 16%, 62%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align items to the end */
}

/* Style for the input field in EditTask */
.EditTaskInput {
    flex: 1;
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsl(0, 14%, 64%, 0.5);
    border-radius: 5px;
    color: hsl(0, 0%, 0%, 0.5);
    margin-right: 10px; /* Add some margin to the right */
}

/* Style for the submit button in EditTask */
.EditTaskButton {
    padding: 8px 12px;
    font-size: 1.4rem;
    background-color: hsl(120, 76%, 50%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

/* Hover effect for the submit button in EditTask */
.EditTaskButton:hover {
    background-color: hsl(120, 93%, 34%);
}